.centerBox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85vw;
    height: 100vh;
    overflow: hidden;
    background-image: url('../../assets/Img/library-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}


.woodColorMenu{
    background-color: #c8874e;
    color: #fff;
}