.cardBody{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
    height: 40vh;
}

.paperContent{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #c8874e;
    width: 100%;
    height: 100%;
}

h3{
    color: #fff;
}